<h3>Sign Up For an Account Below:</h3>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<br>
<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" class="form-control" name="username" placeholder="username">
  <br>


  <label for="email">Email</label>
  <input type="text" class="form-control" name="email" placeholder="email">
  <br>


  <label for="password">Password</label>
  <input type="password" class="form-control" name="password" placeholder="password">
  <br>

  
  <input type="submit" class="btn btn-default" value="Create Account">
</form>