<h2>All Books by Users</h2>

<ul>
  <% @books.each do |book| %>
    <li><a href="/books/<%= book.id %>" style="color: #ffffff"><%= book.name %> in <%= book.genre %>, by <%= book.creator %></a></li>
  <% end %>
</ul>
