<h2>Edit Your Book</h2>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<br>
<form action="/books/<%= @book.id %>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">

  <label for="name">Book Name: </label>
  <input type="text" class="form-control" name="name" value="<% @book.name %>" placeholder="name">
  <br>
  <label for="genre">Book genre: </label>
  <input type="text" class="form-control" name="genre" value="<% @book.genre %>" placeholder="genre">
  <br>
  <input type="submit" class="btn btn-default" value="Submit">
  <button type="button" class="btn btn-default" name="cancel"><a href="/books/<%= @book.id %>">Cancel</a></button>
</form>
