<div class="inner cover" style="text-align: center">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Your Favorite Books.</p>
  <p class="lead">
    <a href="/login" class="btn btn-lg btn-default">Log In</a> 
  or <a href="/signup" class="btn btn-lg btn-default" style="margin-left: 20px">Sign Up</a>
  </p>
</div>